body {
  background: #f5f7fb;
}

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #111827;
}

.content-area {
  flex: 1;
  padding: 30px;
}

.card {
  border-radius: 20px;
}

.btn {
  border-radius: 12px;
}

input,
textarea {
  border-radius: 12px !important;
}